@use '_vars';
@use '_mixins';
.banner-text {
    margin-top: 3rem;
    width: 100%;
}

main {
    background-color: vars.$background;
    height: 100%;
    padding-bottom: 8px;
    padding-top: vars.$topbar-height;
}

.header {
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    font-family: sol-pro, orbitron, sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    text-decoration: underline white solid;
}

.text {
    color: white;
    font-size: 130%;
    font-family: franklin-gothic-urw, sans-serif;
}

.team-container {

    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    padding-top: 3rem;
    padding-bottom: 3rem;

    img {
        height: 20%;
        width: 20%;
        padding: 2.5rem;
        box-sizing: border-box;
        border-radius: 50%;
    }

    .team-header {
        display: flex;
        flex-direction: row;
    }

    .team-name {
        color: white;
        font-size: 250%;
        font-family: sol-pro, orbitron, sans-serif;
        margin-right: 3rem;
    }

    .team-button {
        border-radius: 50%;
        outline: none;
        background-color: none;
        border: solid white 3px;
        color: white;
        height: 3rem;
        width: 3rem;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        margin-right: 2rem;

        &:hover {
            background-color: white;
            color: black;
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    @include mixins.screen('desktop') {
        flex-direction: row;

        .team-header {
            flex-direction: row;
        }
    }
}