//////////////////////////////////////////
//  HEXCALIBER INTERACTIVE SITE STYLES
//  CREATED BY BEN CUAN
//////////////////////////////////////////

@use '_vars';

$hamburger-layer-color: white;
@import 'hamburgers/hamburgers.scss';

@mixin screen($size) {
    $desktop: "(min-width: 1024px)";
    $tablet: "(min-width: 768px) and (max-width: 1023px)";
    $mobile: "(max-width: 767px)";
    $not-mobile: "(min-width: 768px)";
    $not-desktop: "(max-width: 1023px)";
  
    @if $size==desktop {
      @media only screen and #{$desktop} {
        @content;
      }
    } @else if $size==tablet {
      @media only screen and #{$tablet} {
        @content;
      }
    } @else if $size==mobile {
      @media only screen and #{$mobile} {
        @content;
      }
    } @else if $size=='not-mobile' {
      @media only screen and #{$not-mobile} {
        @content;
      }
    } @else if $size=='not-desktop' {
      @media only screen and #{$not-desktop} {
        @content;
      }
    } @else {
      @media only screen and #{$size} {
        @content;
      }
    }
  }

html, body {
    margin: 0;
}

.main {
    background-color: vars.$background;
    overflow: hidden;
    height: 100vh;
    padding: vars.$topbar-height 0 0 0;
    // min-width: 100vw;
    // max-width: 100vw;
    // position: absolute;
    
}

.banner-container {
    display: grid;
    width: 100vw;
    height: 60vh;
    position: relative;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(2, 50%);
    
    .banner-logo, .banner-text {
        height: 65%;
        max-width: 100%;
        justify-content: center;
        object-fit: contain;
        transition: all 0.25s ease-out;
    }
    
    .banner-logo:hover {
        animation: spinny 3s ease-in-out 0s infinite;
        transition: all 0.25s ease-out;

        & + .banner-text {
            animation: banner 1.5s ease-in-out 0s infinite;
            transition: all 0.25s ease-out;
        }
    }

    .banner-logo {
        align-self: end;
        max-width: 30vw;

        // &:hover {
            
        // }
    }

    .banner-text {
        align-self: start;

        // &:hover {
            
        // }
    }
}

.button-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;

    .home-button {
        border: solid white 3px;
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        transition: all 0.25s ease-out;
        background-color: transparent;
        color: white;

        &:hover {
            transform: scale(1.3);
            background-color: white;
            color: black;
        }

        &:focus {
            outline: none;
        }
    }

    @include screen("desktop") {
        .pad {
            width: 25vw;
        }

        .home-button {
            height: 6rem;
            width: 6rem;
        }
    }
}


// TOP BAR STYLES
#topbar {
    position: fixed;
    top: 0;
    height: vars.$topbar-height;
    grid-auto-rows: vars.$topbar-height;
    width: 100%;
    background-color: vars.$red;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-family: sol-pro, orbitron, sans-serif;
    font-weight: bold;
    
    #home-img {
        height: 70%;
        margin-left: 1em;
        &:hover {
            animation: spinny 3s ease-in-out 0s 0.5 forwards;
            cursor: pointer;
        }
    }

    .link-container {
        display: none;
    }

    .desktop-only {
        display: none;
    }

    @include screen("desktop") {
        .link-container {
            display: grid;
            grid-auto-flow: column;
            justify-items: center;
        }

        .mobile-only {
            display: none;
        }

        .desktop-only {
            display: inherit;
        }
    }


    
    .topbar-link {
        font-size: 150%;
        transition: all 0.3s ease-in-out;
        a {
            color: white;
            text-decoration: none;
            position: relative;
        }
        a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: white;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            transform: scale(1.1);

            a:before {
                visibility: visible;
                transform: scaleX(1);
            }
        }

        &.selected {
            text-decoration: underline white solid;
        }
    }

    #ham {
        width: 30vw;
        justify-self: right;
        color: white;

        .hamburger-box {
            color: white;
        }

        &:focus {
            outline: none;
        }
    }

}
#menu {
    transform: translateY(-100vh) translateY(-(vars.$topbar-height));
    position: fixed;
    top: vars.$topbar-height;
    height: 100%;
    width: 100vw;
    background-color: vars.$red;
    transition: all 0.5s ease-in-out;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.is-active {
        transform: translateY(0);
    }

    .menu-link {
        width: 100%;
        text-align: center;
        margin: 1rem;
        
        a {
            text-decoration: none;
            color: white;
            font-family: sol-pro, orbitron, sans-serif;
            font-weight: bold;
            font-size: 4rem;
        }
    }
}

@keyframes spinny {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(720deg) scale(1.1);
        filter: invert(75%) hue-rotate(90deg);
    }

    100% {
        transform: rotate(1440deg);
    }
}

@keyframes banner {
    50% {
        // filter: invert(70%) hue-rotate(90deg) brightness(1.5);
        transform: scale(1.02);

    }
}


@include screen('desktop') {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
}